.search-wrapper {
  text-align: center;
  margin-top: 60px;
}

.title {
  color: #1a5cff;
  font-weight: 600;
}

.search-bar {
  display: flex;
  align-items: stretch;
   position: relative;  
  background: #fff;
  width: 85%;
  margin: 30px auto;
  border-radius: 14px;
  border: 1px solid #e0e0e0;    
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
   
  overflow: hidden;
  
}

.box {
  display: flex;
  gap: 10px;
  padding: 18px;
  cursor: pointer;
  border-right: 1px solid #eee;
  flex: 1;
}

.box small {
  color: gray;
  font-size: 11px;
}

.box p {
  font-weight: 500;
}

.icon {
  color: #1a5cff;
  font-size: 18px;
}


.search-btn {
  background:  #1a5cff;
  color: white;
   top: 260px;
  left: 120px;
  width: 320px;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}



.station-panel {
  position: absolute;
  top: 260px;
  left: 120px;
  width: 320px;
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: left;
}

.station-panel input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #1a5cff;
  margin-bottom: 10px;
}

.station-panel h4 {
  margin: 10px 0 5px;
}


.calendar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  background: white;
  padding: 25px;
  border-radius: 18px;
  width: 320px;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 15px 0;
}

.dates span {
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.dates .active {
  background: #00b140;
  color: white;
  border-radius: 8px;
}
.search-btn:hover {
  background: #003ecb;   
}

.swap-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 36px;
  height: 36px;

  background: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 10;
  cursor: pointer;
}


.swap-btn i {
  font-size: 16px;
  color: #6b6b6b;
}

.from-to-wrapper {
  display: flex;                
  position: relative;    
   flex: 2;   
}



